/* 
    Filters: 
        - grayscale(%)
        - blur(px)
        - invert(%)
*/

* {
    box-sizing: border-box;
}

img {
    margin: 20px auto;
    transition:  0.3s;
    filter: invert(100%);
}

img:hover {
    filter: invert(0);
}