/* 
    Flexible Box
    For Parent:
        - display: flex => to start flexible box
        - flex-direction => default value: row, row-reverse, column, column-reverse
        - flex-wrap => default value: nowrap, wrap, wrap-reverse
        short hand for the (flex-wrap - flex direction): 
        - flex-flow => 
*/

* {
    box-sizing: border-box;
}

.flex {
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    /* flex-direction: row;
    flex-wrap: wrap-reverse; */
    flex-flow: row wrap-reverse;
}

.flex div {
    background-color: #f00;
    color: white;
    width: 25%;
    text-align: center;
    padding: 20px;
}

.float {
    background-color: #eee;
    width: 600px;
    padding: 20px;
    overflow: hidden;
    margin: 20px auto;
}

.float div {
    width: 25%;
    background-color: #f00;
    color: white;
    padding: 20px;
    text-align: center;
    float: left;
}