/* 
    Grid
    ----
    Parent
    - display: grid | inline-grid
    - grid-template-columns: number of columns (width) in => [px, %, auto, fraction, repeat(), Mix]
        fraction is gready but auto is shy!
    - grid-template-rows: number of rows (height) in => [px, %, auto, fraction, repeat(), Mix]
    - gap: [row gap] [column gap]
    - justify-content: [flex-start, flex-end, center, space-between, space-around, space-evenly]

*/

* {
    box-sizing: border-box;
}

.parent {
    margin: 20px auto;
    width: 800px;
    height: 500px;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    row-gap: 20px;
    column-gap: 20px;
    /* gap: 20px; */
    justify-content: center; /* horizontally */
    align-content: center; /* vertically */
}

.parent div {
    background-color: red;
    color: white;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}


/* 
    differences between fraction and auto:
        auto will fill the entire area as long as there is no constraint to
        avoid it, but once there is any constraint it will fill the minimum area
        its element can live in..
        ( By constraint we mean something that has the priority to fill the area
        like (fr) or justify-content property or align content property used! )
*/