/* 
    Grid
    ----
    Parent
    - display: grid | inline-grid
    - grid-template-columns: number of colums (width) in => [px, %, auto, fraction, repeat(), Mix]
        fraction is gready but auto is shy!
    - grid-template-rows: number of rows (height) in => [px, %, auto, fraction, repeat(), Mix]
    - gap: [row gap] [column gap]

*/

* {
    box-sizing: border-box;
}

.parent {
    margin: 20px auto;
    width: 800px;
    height: 500px;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    /* gap: 20px; */
}

.parent div {
    background-color: red;
    color: white;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}