body{
    background-color: aquamarine;
}

ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

li{
    display: inline;
    padding: 15px;
    cursor: pointer;
}

a:link,
a:visited{
    text-decoration: none;
    color: #14ac1b;
    border-bottom: 2px solid aquamarine;
    transition: color 0.5s, border 0.5s;
}

a:hover,
a:active{
    color: #006200;
    border-bottom: 2px solid  #006200;
}

.sec{
    margin-left: 150px;
}

