/* 
    media queries
    responsive design
    - Concept of width
    - Mobile
    - Small screens
    - Medium screens
    - Large screens
    - Future updates

    - Mobile first
    - Test devices
*/

* {
    box-sizing: border-box;
    margin: 0;
}

.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.parent > div{
    padding: 20px;
    background-color: red;
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    width: 100%;
    margin-bottom: 5px;
}

/* Mobile first */
/* Mobile */
@media (max-width: 767) {
}

/* Small  screen */
@media (min-width: 768px) and (max-width: 991px) {
    .parent > div {
        width: calc(50% - 10px);
    }
}

/* Medium screens */
@media (min-width: 992px) {
    .parent > div {
        width: calc(25% - 5px);
    }
}

/* Large screens */
@media (min-width: 1200px) {
}

/* X Large screens */
@media (min-width: 1400px) {
}

/* Custom */
@media (max-width: 1199px) {
}