div{
    background-color: #ddd;



    /* padding: top&bottom right&left; */
    padding: 20px 40px;

    /* SAME AS.. */

    /* padding: top right  bottom left; */
    padding: 20px 40px 20px 40px;

    /* SAME AS.. */

    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    padding-left: 40px;
}