/* 

    Position
    - static => default
    - relative => does not affect or be affected by the position of any other element.
    - absolute => the element is now out of the workflow. moves according to the page itself (its parent).
    - fixed
    - sticky

*/

body{
    min-height: 5000px;
}

.one{
    background-color: red;
    position: absolute;
    bottom: 0px;
    right: 0;
}

.two{
    background-color: green;
    position: fixed;
    bottom: 0;
    right: 100px;
}

.three{
    background-color: yellow;
    position: sticky;
    top: 10px;
}

div{
    color: white;
    width: 100px;
    padding: 10px;
}

.parent{
    position: relative;
    width: 500px;
    height: 300px;
    background-color: blue;
}

/* 
    NOTE: 
    If we have two elements inside each others
    and we want one element to move inside that parent element,
    we have to make the parent 'relative',
    and the son 'absolute' and give it its dimensions.
*/